<!-- Fixed navbar -->
<div class="pos-f-t">
  <div class="collapse" id="navbar-header">
    <div class="container bg-inverse p-a-1">
      <h3>Collapsed content</h3>
      <p>Toggleable via the navbar brand.</p>
    </div>
  </div>
  <nav class="navbar navbar-light navbar-static-top">
    <div class="container">
      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">Menu</button>
      <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="/">MVC Multimedia App</a>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="/login">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comments">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/videos">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/images-gallery">Photos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Fixed navbar -->